{% extends 'review_movie/base.html' %}
{% load static from staticfiles %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'review_movie/css/request_review.css' %}">
    <center><h1 class="font" style="color: white">Review</h1>
    <div class="text_box">
    <div class="form-logre" style="color: white">
    <form method="post" action="">
        {% csrf_token %}
        {% include 'review_movie/form_template.html' %}
        {{ form.media }}
        <button class="btn btn-default" type="submit">Submit</button> <button class="btn btn-default" type="reset">Reset</button>
    <form></div></div></center>
{% endblock %}
