{% extends 'review_movie/base.html' %}
{% load static from staticfiles %}
{% load mathfilters %}
{% block nav_allmovie %}active{% endblock %}
{% block body %}

<style type="text/css">    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
  .row.content {
    max-width: 100%;
    float: right;
    height: auto;
  }

  .col-sm-3{
    background-color: #5a657d;
    border-radius: 10px;
    padding: 5px;
  }

  /* Set gray background color and 100% height */
  .sidenav {
    background-color: #f1f1f1;
    height: 100%;
  }


  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }

  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;}
  }

  img{width: 100%;}

  .thumbnail{
    background-color: #5a657d;
    height: auto;
  }
  .color-container{
    background-color: #4a5469;
  }

  .sidebar1 {
    background: #F17153;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F17153, #F58D63, #f1ab53);
    /* Standard syntax */
    padding: 0px;
    min-height: 100%;
  }
.prelist{padding:  10px 0px 10px 20px;
font-size: 1.5em;}
ul.a {list-style-type: circle;
background-color: #4a5469;
margin:  10px;
padding-top: 5px;
padding-bottom: 5px;}
ul li.a{
    color: #8ae28b;
    margin-top: 5px;
    font-size: 1.1em;
}
.thumbnail:hover{background-color: #6e7b98;}
span{color: #fff;}


@media (min-width: 992px) {
.imgpos{height: 300px !important;}
}
@media (min-width: 1092px) {
.imgpos{height: 350px!important;}
}
@media (min-width: 1125px) {
.imgpos{height: 430px!important;}
}
@media (min-width: 1367px) {
.imgpos{height: auto !important;}
}
</style>
<body>

  <div class="container-fluid color-container"><br>
    <div class="col-sm-9">
    {% if movie_list %}
        {% for movie in movie_list %}
        {% if forloop.counter0|mod:3 == 0 %}
        <div class="row">
        {% endif %}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <a href="{% url 'review_movie:movie' movie.id %}"><img class="imgpos"src="{{ movie.movie_poster.url }}" alt="{{ movie.name }}"></a>
            <div class="caption">
              <a href="{% url 'review_movie:movie' movie.id %}"><h3>{{ movie.name }}</h3></a>
              <p>Rating: {{ movie.rating }}/10</p>
            </div>
          </div>
        </div>
      {% if forloop.counter0|mod:3 == 2 or forloop.last %}
      </div>
      {% endif %}
      {% endfor %}
      {% if is_paginated %}
      <div>
      <center>
        <span>
          {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}
          <span>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">Next</a>
          {% endif %}
        </span>
      <center>
      </div>
      {% endif %}
      {% else %}
      <h1>Not Found Movie!!!</h1>
      {% endif %}
    </div>


  <div class="col-sm-3">
    <div class="prelist">Category</div>
    <div>
      <ul class="a">
        <li class="a"><span>Action</li>
        <li class="a"><span>Adventure </li>
        <li class="a"><span>Drama </li>
        <li class="a"><span>Sci-Fi </li>
        <li class="a"><span>Family </li>
        <li class="a"><span>Thriller </li>
        <li class="a"><span>Crime </li>
        <li class="a"><span>Animation </li>
        <li class="a"><span>Comedy </li>
        <li class="a"><span>Fantasy </li>
        <li class="a"><span>Romance </li>
      </ul>
    </div>

  </div>

</div>
<br><br>
<footer class="footfu">
  <center>Copyright 2017 PomPom Project / computer science - CMU</center>
</footer>
</body>
{% endblock %}
