<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} - Free Popcorn - สังคมนักดูหนังแห่งสยามประเทศ!!! - {% endblock %}</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'review_movie/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'review_movie/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'review_movie/js/bootstrap.js' %}"></script>
    <style type="text/css">
    .form-search{color: #fff !important;
      background-color: #374c61!important ;}
      .form-search:focus{background-color:#3f576f !important;}
      .drop-text{color: #fff !important;}
      .drop-text:hover{color: #333 !important;}
      .profile{margin-top: 10px;
      margin-bottom: 10px;}
    /*.form-search{float: left;}*/
    .per80{width: 80%;
    float: left;}
    .per20{width: 20%;}
    .logo{width: 30px;
    height: 30px !important;}
      </style>
</head>
<body>
    <nav class="navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'review_movie:index' %}">Free <span><img class="logo" src="{% static 'review_movie/img/logo.png' %}"></img></span> ป๊อปคอร์น</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="{% block nav_home %}{% endblock %}"><a href="{% url 'review_movie:index' %}">Home<span class="sr-only">(current)</span></a></li>
        <li class="{% block nav_allmovie %}{% endblock %}" ><a href="{% url 'review_movie:all_movie' %}">Review</a></li>

    </ul>
    <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control form-search per80" placeholder="Search">
          <button type="submit" class="form-control form-search per20"><i class="fa fa-search"></i></button>
      </div>

  </form>
  <ul class="nav navbar-nav navbar-right">
    {% if request.user.is_authenticated %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><center><img class="profile" src="{{ request.user.userprofile.profile_img.url }}"></center></li>
        <li><a class="drop-text" href="{% url 'review_movie:profile' %}">{{ request.user.userprofile.nickname }}</a></li>
        <li><a class="drop-text" href="#">Level :
        {% if request.user.groups.all.0 is None %}
          Member
        {% else %}
          {{ request.user.groups.all.0 }}
        {% endif %}
        </a></li>
        <li role="separator" class="divider"></li>
        <li><a class="drop-text" href="{% url 'review_movie:logout' %}">Log out</a></li>
    </ul>
</li>
{% elif not request.user.is_authenticated and not "/review_movie/login" in request.get_full_path and not "/review_movie/register" in request.get_full_path%}
<li><a href="{% url 'review_movie:register' %}">Sign up</a></li>
<li class="dropdown">
                     <a href="" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
                     <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form" role="form" method="post" action="{% url 'review_movie:login' %}" accept-charset="UTF-8" id="login-nav">
                                 {% csrf_token %}
                                    <div class="form-group">
                                       <label class="sr-only" for="username">Username</label>
                                       <input type="text" name="username" class="form-control" id="username" placeholder="Username" required>
                                    </div>
                                    <div class="form-group">
                                       <label class="sr-only" for="password">Password</label>
                                       <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                                    </div>
                                    <!-- <div class="checkbox">
                                       <label>
                                       <input type="checkbox"> Remember me
                                       </label>
                                    </div> -->
                                    <div class="form-group">
                                       <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </li>
{% endif %}
</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
{% block body %}
{% endblock %}
</body>
</html>
