<!DOCTYPE html>
<html>
<head>
<title> - Free Popcorn - สังคมนักดูหนังแห่งสยามประเทศ!!! - </title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'review_movie/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'review_movie/css/bootstrap.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'review_movie/js/bootstrap.js' %}"></script>
<!-- <script type="text/javascript" src="js/bootstrap.js"></script> -->

<!-- <script type="text/javascript">
  $('.dropdown-toggle').dropdown()
</script> -->
</head>
<body>
<nav class="navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Free Popcorn</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Review</a></li>
        
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="form-control">S</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><img class="profile" src="{% static 'review_movie/img/Profile1.png' %}"></a></li>
            <li><a href="#">Name User</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="thumbnail">
  <img src="{% static 'review_movie/img/poster/logan.jpg' %}" class="thumbpic">
  <div class="caption">
    <h3>Logan - Twenty Century Fox</h3>
      <p>"โลแกน" และแล้วก็มาถึงฉากสุดท้ายของตำนาน ฮีโร่ผู้ได้ชื่อว่าเป็นตัวเอกของแฟรนไชน์ภาพยนต์ X-men มานาน วันนี้ .....</p>
      <p><a href="#" class="btn btn-primary" role="button">Readmore</a>
  </div>
</div>

<div class="thumbnail">
  <img src="{% static 'review_movie/img/poster/interstellar.jpg' %}" class="thumbpic">
  <div class="caption">
    <h3>Interstellar - Wanner Bros.</h3>
      <p>ทะยานดาวกู้โลก หนังไซไฟที่ผู้เขียนชอบที่สุด หนังอะไรเนี่ย ชอบมากๆเลย อ๊ากกกกกกกก .....</p>
      <p><a href="#" class="btn btn-primary" role="button">Readmore</a>
  </div>
</div>

<div class="thumbnail">
  <img src="{% static 'review_movie/img/poster/spiderman-homecomming.jpg' %}" class="thumbpic">
  <div class="caption">
    <h3>Spiderman Homecomming - Marvel Studio and Colombia Picture (Sony)</h3>
      <p>หลังจากได้ลิขสิทธิ์ร่วมสร้าง ทำสัญญากันเป็นที่เรียบร้อย "ไอ้แมงมุม" ของเรา ก็ได้.....</p>
      <p><a href="#" class="btn btn-primary" role="button">Readmore</a>
  </div>
</div>


<footer class="footfu">
  <center>Copyright 2017 PomPom Project / computer science - CMU</center>
</footer>
</body>
</html>