{% extends 'review_movie/base.html' %}
{% load static from staticfiles %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'review_movie/css/request_review.css' %}">
<center><div class="text_box">
    <center><h1 class="font" style="color: white">Profile</h1>
    <div class="form-logre" style="color: white">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'review_movie/form_template.html' %}
        <button class="btn btn-success" type="submit">Submit</button>
    <form></div>
</div></center>
{% endblock %}
